<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <div class="row">
        <div class="col l8 offset-l4"></br>
          <div class="waves-effect waves-light orange lighten-1 btn">
            <%= link_to "PLEASE CLICK HERE TO LOGIN WITH GOOGLE!", auth_at_provider_path(:provider => :google) %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
