
<% if current_user == @user && current_user.trainer == true %>
  <h3>Update Your Profile</h3>
  <%= render 'trainer_profile_form' %>
<% elsif current_user == @user && current_user.trainer == nil %>
  <h3>Update Your Profile</h3>
  <%= render 'form' %>
<% else %>
  <h3>Please login to edit this page!</h3>
<% end %>
