<h1>Trainer Index!</h1>

<h2>Search trainers by category</h2>
<div class="search_bar">
  <%= form_tag(users_url, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search by address", required: true %>
  <%= submit_tag "Search" %>
  <% end %>
</div><br>

<div class="trainer_list">
<% @user.each do |t|%>
  <% if t.trainer == true %>
  <li><%=link_to "#{t.name}", "/users/#{t.id}" %></li>
  <% end %>
<% end %>
</div>
<p>
