/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =============================================================================
  Grid
  ============================================================================= */

* {
  font-family: 'Questrial', sans-serif;
}

.logo {
  height: 40%;
  width: 40%;
}

.logo_style {
  text-align: center;
  padding-bottom: 20px;
  margin-top: 20px;
}

.site-nav {
  display: block;
  text-align: center;
}

.site-nav a:link {
  text-decoration: none;
}

h1, h2 {
  text-align: center;
}

.search_bar {
  display: inline;
  text-align: center;
}

.trainer_list h4, a:link {
  list-style: none;
  text-align: center;
  text-decoration: none;
}

footer {
  text-align: center;
  font-weight: 400px;
  background-color: black;
}

footer p {
  color: white;
}
