/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* These classes can be added to HTML Elements
    * to affect visibility on certain displays.
    */
   .hide-on-small-only
   .hide-on-small-and-down
   .hide-on-med-and-down
   .hide-on-med-and-up
   .hide-on-med-only
   .hide-on-large-only
   .show-on-large
   .show-on-medium
   .show-on-small
   .show-on-medium-and-up
   .show-on-medium-and-down


body {
  line-height: 1.5;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =============================================================================
  layout
  ============================================================================= */


* {
  font-family: 'Roboto', sans-serif;
  zoom: 100%;
  font-weight: 400;
}

.logo {
  margin-top: 6px;
  height: 52px;
  width: 52px;
}


.nav-wrapper {
  padding-left: 15px;
  background-color: #607d8b;
  font-size: 15px;

}

.nav-wrapper a:link {
  text-decoration: none;
  font-size: 15px;

}

/*.alert {
  text-align: cen ter;
  background-color: black;
  color: #ED1B24;
  padding: 5px;
}*/

h1, h2, h3, h4 {
  text-align: center;
  font-weight: 300;
}

h1 {
  font-weight: 100;
  margin-top: 120px;
}

h2 {
  padding: 15px;
  margin-bottom: 0;
  margin-top: 65px;
}

h3 {
  margin-top: 65px;
}

h4 {
  font-weight: 100;
  margin-top: 50px;
}

h6 {
  text-align: center;
  font-weight: 400px;
}

.search_bar {
  display: inline;
  text-align: center;
  text-align: center;
}

.trainer_count p {
  font-size: 14px;
  text-align: center;
}

.trainer_list a {
  color: #fb8c00;
}

.display {
  color: #ffb74d;
}

.display_event {
  color: #ef6c00;
}

/* =============================================================================
form
============================================================================= */

.form_container {
  width: 35%;
  background-color: #eceff1;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  border-radius: 5px;
}

.form_container p {
  color: orange;
  text-align: left;
}

#btn {
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

.week_day {
  display: inline-block;
  text-align: center;

}

 main {
   flex: 1 0 auto;
 }

footer.page-footer {
  background-color: #b0bec5;
  font-weight: 300px;
}

#google-alert {
  color: #cddc39;
  margin-right: 12px;
}

.card-title {
  color: black;
}

.error_msg {
  text-align: center;
}

.card {
  height: 100%;
}

.row {
  flex-direction: row;
  display: flex;
}

.waves-effect {
  font-size: 13px;
  font-kerning: auto;
  text-align: center;
  background-color: #607d8b;
}

.medium material-icons {
  text-align: center;
}

.title {
  font-size: 17px;
  font-weight: 300;
  color: white;
}

.check_box {
  margin-bottom: 20px;
}

.sub-cancel_button {
  padding-bottom: 25px;
  padding-top: 15px;
}

.sub-cancel_button a {
  color: white;
}

a {
  color: orange;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.search_category a {
  border-bottom: 1px solid orange;
}

.search_bar {
  margin-bottom: 50px;

}

.highlight {
  max-width: 15%;
  float: left;
  background-position: center;
}

td {
  text-align: center;
}

th {
  text-align: center;
  font-weight: bolder;
  color: black;
  font-size: 15px;
}

td a {
  color: #607d8b;
  font-weight: 500;
  font-size: 13px;
}

.table_container {
  max-width: 85%;
  margin-left: 5%;
}
