@import "materialize";


@media #{$small-and-down} {
  // styles for small screens and down
}
@media #{$medium-and-up} {
  // styles for medium screens and larger
}
@media #{$medium-and-down} {
  // styles for medium screens and down
}
@media #{$large-and-up} {
  // styles for large screens and up
}

[type="checkbox"]:checked + label:before {
border-right: 3px solid orange;
border-bottom: 3px solid orange;
}

label {
  font-size: 0.8rem;
  color: black;
}

button,
input,
optgroup,
select,
textarea {
  margin: 10px;
}
