<!DOCTYPE html>
<html>
  <body>
    </br>
    <div class="container">
      <div class="row">
        <div class="col s10 pull-s1">
          <div class="card grey lighten-4">
            <div class="card-content black-text center">
              <span class="card-title">You are booked!</span>
              <p>Please review your requested time slot below. An email confirmation is on its way. </br>Check your email so you can view it in your Google Calendar.</p>
              </br>
              <% @appointment %>
              <%= flash[:notice] = "Invitation sent for #{@up.strftime("%A %d/%m/%Y %T")} to #{@low.strftime("%A %d/%m/%Y %T")}" %>
              <div class="section">
                <%= link_to "update your availability", :update_availability, class: "waves-effect waves-light orange lighten-1 btn" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
